.header {
  background: #333;
  color: white;
  padding: 3.2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3; }
  .header .a {
    color: white;
    text-decoration: none; }
  .header .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .logo-nav-container .logo {
      letter-spacing: 15px;
      font-size: 1.3em; }
    .header .logo-nav-container-img {
      height: 5rem;
      border-radius: 50%; }
  .header .navegation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .header .navegation ul .li {
      display: inline-block; }
      .header .navegation ul .li .a {
        display: block;
        padding: 1rem 1.5rem;
        transition: all 0.3s linear;
        border-radius: 5rem; }
        .header .navegation ul .li .a:hover {
          background: #ccc; }
