main{
    p{
        /*  padding: 0; */
        margin-top: 2rem;
        margin-bottom: 4rem;
     }
     
    section{
         padding: 5rem;
         margin: 5rem;
     }
    .container{
        .ayuda_gif{
            display: flex;
            justify-content: space-between;
            .gif_estetico{
                width: 10rem;
                height: 10rem;
            }
        }
    }
     
}

