/* article{
    padding: 3rem;
    border: 1px solid rgb(67, 67, 196);
} */
a{
    padding: 3rem;
}
h2{
    font-size: 2.5rem;
}
.main{
    .container{
        .tabla_precios{
              border-collapse: collapse;
              width: 100%;

              th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
              
              }
              th{
                font-size: larger;
            }
              
          }
       
        tr:hover {
            background-color: rgb(80, 142, 224);
        }

        .aviso{
            font-size: 2.3rem;
            color: rgb(121, 11, 11);
        }
    }
   
}